.lt-ie9 {
	* { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

	html,
	body {
		min-width: 984px;
	}

	header {
		position: relative;
	}

	.clients,
	.gallery,
	.contact_us {
		margin-top: 0;
	}

	.banner {
		position: relative;
		top: 0;
	}

	.three_column {
		width: 308px;
	}

	.talk_box {
		left: 0;
	}

	.gallery_images .box {
		width: 308px;
	}

	.general_contact {
		width: 333px;
	}

	.contact_form {
		float: right;
	}

	#contact_form {
		div {
			margin-bottom: 20px;
			padding: 0;
			padding-left: 20px;
			width: 283px;
		}

		label {
			clear: both;
			float: left;
		}

		input {
			clear: both;
			float: left;
			width: 273px;
		}

		.message_div {
			width: 586px;

			textarea {
				width: 576px;
			}
		}

		#submit {
			float: right;
			margin-top: 80px;
			width: 150px;
		}

		.req-field-desc {
			padding-left: 10px;
		}
	}

	footer {
		left: 0;

		section,
		nav {
			width: 206px;
		}

		.copyright {
			padding: 0;
			width: 984px;
		}
	}
}