@mixin border ($side, $color:#e6e6e6, $width:1px) {
	border-#{$side}: solid $width $color;
}

@mixin opacity ($opacity) {
	zoom: 1;
	filter: alpha(opacity=$opacity*100);
	opacity: $opacity;
}

@mixin no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin raleway {
	font: 400 3.636em "Raleway", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin open_sans {
	font: 800 2.618em "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
}

@mixin caslon {
	font-family: "Adobe Caslon Pro", "Adobe Caslon Regular", "Adobe Caslon", "Adobe Garamond Pro", "Adobe Garamond Regular", "Adobe Garamond", "Palatino Linotype", "Times New Roman", Times, Garamond, serif;
	font-style: italic;
	font-weight: 300;
}

@mixin transition ($property:all, $duration:.2s, $type:linear) {
	-webkit-transition: $duration $type;
	-moz-transition: $duration $type;
	-o-transition: $duration $type;
	transition: $duration $type;
	-webkit-transition-property: $property;
	-moz-transition-property: $property;
	-o-transition-property: $property;
	transition-property: $property;
}