@mixin border_bottom ($color:#ddd, $width:1px) {
	border-bottom: solid $width $color;
}

@mixin opacity ($opacity) {
	zoom: 1;
	filter: alpha(opacity=$opacity*100);
	opacity: $opacity;
}

@mixin no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}