@mixin border ($side, $color:#e6e6e6, $width:1px) {
	border-#{$side}: solid $width $color;
}

@mixin opacity ($opacity) {
	zoom: 1;
	filter: alpha(opacity=$opacity*100);
	opacity: $opacity;
}

@mixin no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin open_sans {
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin caslon {
	font-family: "Adobe Caslon Pro", "Adobe Caslon Regular", "Adobe Caslon", "Adobe Garamond Pro", "Adobe Garamond Regular", "Adobe Garamond", "Palatino Linotype", "Times New Roman", Times, Garamond, serif;
	font-style: italic;
	font-weight: 300;
}

@mixin retina_background ($image, $type:png) {
	background-image: url('../img/#{$image}.#{$type}');

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi) {
    	background-image: url('../img/#{$image}@2x.#{$type}');
    }
}