@import "normalize";
@import "lib_mixins";

$white: #fff;
$smoke: #f3f3f3;
$black: #111;
$border1: darken($white, 10%);
$border2: darken($smoke, 10%);

/* ==========================================================================
   HTML5 Boilerplate Base Styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    font: 300 100%/1.5em "Gotham", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}

.container {
    margin: 0 auto;
    overflow: auto;
    width: 984px;
}

header {
    @include border_bottom($border1);
    background: $white;
    overflow: hidden;
    position: fixed;
    max-height: 100px;
    top: 0;
    width: 100%;
    z-index: 99;

    img {
        float: left;
        padding: 25px 0;
    }
}

nav {
    float: right;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        color: $black;
        display: inline-block;
        font-size: 1em;
        line-height: 100px;
        margin: 0 0 0 30px;

        a {
            color: $black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.banner {
    height: 400px;
    margin: 100px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        left: 0;
        position: absolute;
    }
}

.scroll_banner {
    @include opacity(0);
    cursor: pointer;
    height: 400px;
    position: absolute;
    width: 200px;
    z-index: 1;

    &:hover {
        @include opacity(1.0);
        opacity: 1.0;
    }
}

.banner_prev {
    background: url('../img/banner_prev.png');
    background-size: 200px 400px;
    left: 0;
}

.banner_next {
    background: url('../img/banner_next.png');
    background-size: 200px 400px;
    right: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
