@import "normalize";
@import "lib_mixins";

$white: #fff;
$smoke: #f3f3f3;
$black: #111;
$color: #125a98;

/* ==========================================================================
   HTML5 Boilerplate Base Styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 0;
    z-index: 999;
}


/* ==========================================================================
   Custom styles

   Author:  Samuel Thornton
   Date:    Janurary 1, 2013

   Typsetting for Profile Laser:
   http://modularscale.com/scale/?px1=20&px2=308&ra1=1.618&ra2=0
   20px @ 1:1.618
   308px @ 1:1.618
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font: 300 125%/1.618 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.618em;
    font-weight: 800;
    margin: 1em 0 0.618em;
    text-transform: uppercase;
}

h2 {
    @include caslon;
    font-size: 1.618em;
    margin: 0.618em 0 0.3em;
}

p {
    font-size: 1em;
    margin: 20px 0;
}

em {
    @include caslon;
}

.container {
    margin: 0 auto;
    overflow: auto;
    width: 984px;
}

.three_column {
    float: left;
    margin: 0 10px;
    width: 308px;
}

header {
    @include border(bottom);
    background: $white;
    overflow: hidden;
    position: fixed;
    max-height: 100px;
    top: 0;
    width: 100%;
    z-index: 99;

    img {
        float: left;
        margin: 25px 0;
        padding-left: 10px
    }
}

nav {
    float: right;
    font-size: 0.858em;
    padding-right: 10px;
    text-transform: uppercase;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        color: $black;
        display: inline-block;
        font-size: 1em;
        line-height: 100px;
        margin: 0 0 0 32px;

        a {
            color: $black;
            text-decoration: none;
            -webkit-transition: all .2s linear;

            &:hover {
                color: $color;
            }
        }
    }
}

.banner {
    height: 400px;
    margin: 100px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        left: 0;
        position: absolute;
    }
}

.scroll_banner {
    @include no_select;
    @include opacity(0);
    cursor: pointer;
    height: 400px;
    position: absolute;
    width: 200px;
    z-index: 1;

    &:hover {
        @include opacity(1.0);
        opacity: 1.0;
    }
}

.banner_prev {
    @include retina_background(banner_prev);
    background-size: 200px 400px;
    left: 0;
}

.banner_next {
    @include retina_background(banner_next);
    background-size: 200px 400px;
    right: 0;
}

.about {
    background: #fff;
    padding: 40px 0 45px;
    width: 100%;

    .container {
        width: 700px;
    }

    h1 {
        color: $color;
        float: left;
        line-height: 100%;
        margin: 10px 20px 10px 10px;
        text-align: right;
        width: auto;
    }

    p {
        margin: 0;
        padding: 15px 0 10px 10px;
        text-align: left;
    }
}

.process {
    @include border(top);
    @include border(bottom);
    background: $smoke;
    width: 100%;
}

.process_icon {
    @include retina_background(process_icons);
    background-color: $color;
    background-position: 0 0;
    background-size: 924px 222px;
    height: 222px;
    width: 308px;

    &#production {
        background-position: -308px 0;
    }

    &#efficient {
        background-position: -616px 0;
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
