@charset "UTF-8";

@import "normalize";
@import "icon_font";
@import "lib_mixins";

$white: #fff;
$smoke: #f3f3f3;
$light_gray: #999;
$gray: #666;
$dark_gray: #333;
$black: #1c1c1c;
$color: #125a98;
$accent: #da7d31;
$footer_height: 320px;

/* ==========================================================================
   HTML5 Boilerplate Base Styles
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
    color: $gray;
}

::-moz-selection {
    background: lighten($color, 50%);
    text-shadow: none;
}

::selection {
    background: lighten($color, 50%);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 0;
    z-index: 999;
}

/* ==========================================================================
   Custom styles

   Author:  Samuel Thornton
   Date:    Janurary 1, 2013

   Typsetting for Profile Laser:
   http://modularscale.com/scale/?px1=20&px2=308&ra1=1.618&ra2=0
   20px @ 1:1.618
   308px @ 1:1.618
   ========================================================================== */

.no-js-warning {
    background: $dark_gray;
    color: $white;
    display: none;
    font-size: 1em;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;

    .no-js & {
        display: block;
    }
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background: $black;
    font: 300 125%/1.618 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

.about,
.process,
.why,
.talk,
.partners,
.gallery,
.contact_us {
    min-width: 100%;
    overflow: hidden;
    padding: 3.636em 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.clients {
    position: relative;
    z-index: 2;
}

header,
footer {
    width: 100%;
}

h1 {
    color: $dark_gray;
    font-size: 2.618em;
    font-weight: 800;
    line-height: 100%;
    margin: 0 0 0.618em;
    text-transform: uppercase;

    .sub_head {
        color: $color;
        display: block;
        font-size: 0.382em;
        font-size: 1rem;
        line-height: 100%;
        margin-top: 5px;
    }
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.618em 0 0.3em;
}

h3 {
    font-size: 1em;
    margin: 0 0 .858em;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    margin: 0;
}

em {
    @include caslon;
}

a {
    @include transition(#{color, background});
    color: $accent;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 984px;
}

.three_column {
    float: left;
    padding: 0 10px;
    width: 33.33%;
}

.button {
    background: $accent;
    border-radius: 8px;
    color: $white;
    display: block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    width: 150px;

    &:hover {
        background: lighten($accent, 10%);
    }
}

//Header and Nav
header {
    background: $white;
    border-bottom: solid 1px $smoke;
    box-sizing: content-box;
    overflow: hidden;
    position: fixed;
    max-height: 80px;
    top: 0;
    z-index: 99;

    nav {
        float: right;
        font-size: 0.8em;
        font-weight: 600;
        padding-right: 10px;
        text-transform: uppercase;

        li {
            color: $gray;
            display: inline-block;
            *display: inline;
            font-size: 1em;
            line-height: 80px;
            margin: 0 0 0 32px;
            zoom: 1;

            a {
                color: $gray;
                text-decoration: none;

                &:hover {
                    color: $accent;
                }
            }

            &.current_page a {
                color: $accent;
            }
        }
    }
}

.mobile_nav_check {
    display: none;
}

.no-js .mobile_nav_check:checked ~ .mobile_nav_wrapper .mobile_nav {
    display: inline;
}

.toggle_mobile_nav {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: none;
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 80px;
}

.mobile_nav_wrapper {
    display: none;
    overflow: hidden;
}

.mobile_nav {
    background: $color;
    clear: both;
    display: none;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    li {
        @include gradient(lighten($black, 10%), $black);
        border-bottom: solid 1px #000;
        border-top: solid 1px lighten($black, 15%);
        line-height: 150%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    a {
        color: #fff;
        display: block;
        padding: 30px 0;
        width: 100%;

        &:hover {
            color: #fff;
        }
    }
}

.profile_logo {
    float: left;
    margin: 15px 0;
    padding-left: 10px;
}

//Banner Section - Home Page
.banner {
    background: $smoke;
    height: 400px;
    overflow: hidden;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1;

    &.loading {
        background: $smoke url('../img/loader.gif') center center no-repeat;
        background-size: 64px 64px;
    }
}

.no-js .banner.loading {
    background: $smoke;
}

.banner_img {
    left: 0;
    position: absolute;
    visibility: hidden;

    .no-js & {
        visibility: visible;
    }
}

.scroll_banner {
    @include no_select;
    @include opacity(0);
    cursor: pointer;
    height: 400px;
    position: absolute;
    visibility: visible;
    width: 200px;
    z-index: 1;

    &:hover {
        @include opacity(1.0);
        opacity: 1.0;
    }

    .loading & {
        visibility: hidden;
    }
}

.banner_prev {
    background: url('../img/banner_prev.png') 0 0 no-repeat;
    background-size: 200px 400px;
    left: 0;
}

.banner_next {
    background: url('../img/banner_next.png') 0 0 no-repeat;
    background-size: 200px 400px;
    right: 0;
}

.clients {
    background: $smoke;
    border-botttom: solid 1px darken($smoke, 5%);
    margin-top: 480px;
    min-width: 100%;
    padding: 20px 0;
    width: 100%;
}

//About Us, Who We Are Section - Home Page
.about {
    background: $white;
    width: 100%;

    .container {
        width: 580px;
    }

    h1 {
        @include open_sans;
        color: $color;
        float: left;
        line-height: 100%;
        margin: 0 20px 0 0;
        text-align: right;
        width: auto;
    }

    p {
        margin: 0;
        padding: 10px 0;
        text-align: left;
    
        &:first-of-type {
            padding-top: 5px;
        }
    }

    .button {
        float: right;
    }
}

//Process Section - Home Page
.process {
    @include border(top, darken($smoke, 5%));
    @include border(bottom, darken($smoke, 5%));
    background: $smoke;
    width: 100%;

    .container > p {
        margin: 0 auto;
        width: 580px;
    }

    h3 {
        @include caslon;
        font-size: 1.1em;
        text-transform: none;
    }
}

.process_icon,
.why_icon {
    background: $color url('../img/process_icons.png') 0 0 no-repeat;
    background-size: 1200px 200px;
    border-radius: 100px;
    height: 200px;
    margin: 44.940px auto 0;
    width: 200px;
}

#production {
    background-position: -200px 0;
}

#efficient {
    background-position: -400px 0;
}

#afford {
    background-position: -600px 0;
}

#accuracy {
    background-position: -800px 0;
}

#flexibility {
    background-position: -1000px 0;
}

.why {
    @include border(top, darken($smoke, 5%));
    background: $white;
    margin-top: -1px;

    .container > p {
        margin: 0 auto;
        width: 580px;
    }
}

//Clients Section - Home Page
.talk {
    @include border(top, $color);
    @include border(bottom, $color);
    background: $color;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;

    h1 {
        color: $white;
    }

    .container {
        overflow: hidden;
        width: 806px;

        .no-js & {
            height: auto;
        }
    }
}

.talk_bg {
    display: none;
}

.opacity .talk_bg {
    display: block;
    background: url('../img/talk_bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
}

.talk_box {
    @include opacity(0);
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 806px;

    &:first-child {
        @include opacity(1.0);
        position: relative;
        visibility: visible;
    }

    p {
        @include caslon;
        font-size: 1.389em;
    }

    span {
        float: right;
        text-align: right;
    }
}

//Partners Section - Home Page
.partners {
    background: $smoke;
    position: relative;

    .container {
        width: 580px;
    }

    .button {
        display: inline-block;
        *display: inline;
        margin: 10px 20px 0;
        zoom: 1;
    }
}


//Gallery Page
.gallery {
    background: $smoke;
    height: auto;
    margin: 80px 0 0;
    overflow: hidden;
}

.loading_error {
    display: none;
    margin: 0 auto 20px;
    font-weight: bold;
    width: 580px;
}

.loader {
    margin: 20px auto 40px;
}

.gallery_images {
    display: none;
    width: 100%;

    .box {
        @include transition(all, 0.3s);
        float: left;
        padding: 10px;
        width: 33.33%;
    }

    img {
        float: left;
        height: auto;
        width: 100%;

        &:hover {
            @include opacity(0.85);
        }
    }
}

.pagination {
    clear: both;
    margin: 0;
    padding: 15px 0 0;

    li {
        display: inline-block;
        *display: inline;
        margin: 0 4px;
        zoom: 1;
    }

    .current_page a {
        color: $black;
        cursor: default;
    }
}


//Contact Page
.contact_us {
    background: $smoke;
    margin-top: 80px;

    h2 {
        @include open_sans;
        font-size: 1.618em;
        font-style: italic;
        margin: 0 0 20px;
    }
}

.map {
    background: $smoke;
    font-size: 0.858em;
    height: 400px;
    margin: 45px 0 52.358px;
    padding: 0;
}

.general_contact {
    float: left;
    padding-left: 10px;
    padding-right: 35px;
    text-align: left;
    width: 378px;
}

.contact_page_text {
    margin-bottom: 0.53em;

    a {
        color: $gray;
    }

    [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        *display: inline;
        line-height: 100%;
        padding-top: 5px;
        vertical-align: top;
        zoom: 1;
    }

    .icon-location {
        font-size: 1.5em;
    }

    .icon-phone {
        font-size: 1.25em;
    }

    .icon-print {
        font-size: 1.1em;
    }

    .icon-mail-alt {
        font-size: 1.05em;
    }

    .contact_text {
        display: inline-block;
        *display: inline;
        padding: 0 0 0 10px;
        zoom: 1;
    }
}

.contact_form {
    float: left;
    padding: 0;
    text-align: left;
    width: 606px;
}

#errors, #success {
    display: none;

    &.visible {
        display: block; 
    }
}

#errors {
    font-size: 0.858em;
    list-style: none;
    margin: 0 0 7px;
    padding: 0 10px;

    li:not(#info) {
        color: #a00;
        padding: 5px;

        &:before {
            content: "\2022";
            font-weight: bold;
            padding-right: 10px;
        }
    }

    #info {
        font-style: italic;
        font-weight: bold;
        list-style: none;
    }
}

#success {
    color: $color;
    font-weight: bold;
    margin: 0 10px 20px;
}

#name,
label[for="name"] {
    position: absolute;
    visibility: hidden;
}

#contact_form {
    div {
        float: left;
        overflow: auto;
        padding: 5px 10px 10px;
        width: 50%;
    }

    .anti_robot {
        @include opacity(0);
        margin: 0;
        padding: 0;
        position: absolute;
        visibility: hidden;
        width: 100%;
    }

    .message_div {
        width: 100%;
    }

    label {
        clear: both;
        float: left;
        font-size: 0.858em;
        padding-bottom: 5px;
    }

    .required {
        color: #a00;
        font-size: 0.8em;
    }

    input:not(#submit), textarea {
        border: none;
        clear: both;
        float: left;
        padding: 10px;
        width: 100%;
    }

    textarea {
        height: 150px;
    }
}

.req-field-desc {
    color: #a00;
    clear: left;
    float: left;
    font-size: 0.8em;
    margin: 10px 0 0 10px;
}

#loading {
    background: url('../img/loader.gif') no-repeat;
    background-size: 64px 64px;
    bottom: 5px;
    display: none;
    height: 64px;
    position: absolute;
    right: 200px;
    width: 64px;
}

#submit {
    @include transition;
    background: $color;
    border: none;
    clear: none;
    float: right;
    margin-bottom: 5px;
    margin-right: 10px;

    &:hover {
        background: lighten($color, 10%);
    }
}


//Footer
.bottom_section {
    box-shadow: 0 5px 15px #000;
    margin-bottom: $footer_height;

    &.mobile_bottom_section {
        margin-bottom: 0;
    }
}

footer {
    background: $black;
    bottom: 0;
    color: $light_gray;
    font-size: 0.8em;
    padding: 52.358px 0;
    position: fixed;
    text-align: left;
    z-index: 0;

    &.mobile_footer {
        bottom: auto;
        position: relative;
        z-index: 0;
    }

    h3 {
        border-bottom: solid 1px $gray;
        color: $smoke;
    }

    .copyright {
        color: $gray;
        font-size: 0.9em;
        margin-top: 52px;
        text-align: center;
        width: 100%;
    }

    nav, section {
        float: left;
        padding: 0 20px;
        width: 25%;
    }

    a {
        color: $light_gray;
        display: inline-block;
        *display: inline;
        zoom: 1;

        &:hover {
            color: $smoke;
        }
    }
}

@import "media";
@import "ie";
@import "print";