.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: $page-width;
  width: 100%;
}

.container--full {
  max-width: none;
}

.columns {
  float: left;
  padding: 0 1rem;
}

@for $i from 1 through 12 {
  $width: (100%/12)*$i;
  .column-#{$i} {
    @extend %clearfix;
    width: $width;
  }

  .push-#{$i} {
    margin-left: $width;
  }

  .pull-#{$i} {
    margin-right: $width;
  }
}

.columns .columns {
  padding: 0 1rem;
}

.collapse {
  padding: 0;
}

@media only screen and (max-width: 48rem) {
  .container {
    max-width: 35rem;
  }

  .container--full {
    max-width: none;
  }

  .columns {
    width: 100%;
  }

  [class^="pull-"],
  [class*=" pull-"]
  [class^="push-"],
  [class*=" push-"] {
    margin-left: auto;
    margin-right: auto;
  }
}
