.columns {
  float: left;
  padding: 0 1rem;
}

@for $i from 1 through 12 {
  $width: (100%/12)*$i;
  .column-#{$i} {
    @extend %clearfix;
    width: $width;
  }

  .push-#{$i} {
    margin-left: $width;
  }
}

.collapse {
  padding: 0;
}
