@import 'grid';

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-blue {
  color: $blue;
}

.text-gray {
  color: $gray;
}

.small-margin {
  margin-bottom: 0.618rem;
}

.no-margin {
  margin-bottom: 0;
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: $page-width;
  width: 100%;
}

.container--full {
  max-width: none;
}

.main-section {
  @extend %clearfix;
  min-width: 100%;
  padding: $spacer*2.5 0;
  position: relative;
  width: 100%;
}

.button {
  background: $orange;
  border-radius: $radius;
  color: $white;
  display: inline-block;
  letter-spacing: 1px;
  margin: $spacer 0 1px;
  padding: ($spacer/2) $spacer;
  text-decoration: none;

  .hover & {
    &:hover {
      background: lighten($orange, 10%);
    }
  }
}
