$blue: #0074d9;
$orange: #ff851b;

$white: #ffffff;
$smoke: #eeeded;
$light-gray: #b1b0ad;
$gray: #626260;
$black: #212121;

$spacer: 1.618rem;
$radius: 3px;
$page-width: 1024px;

$monospace: "Inconsolata", "Andale Mono", "Courier New", Courier, monospace;
$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
