.browserupgrade {
  background: #ccc;
  color: #000;
  line-height: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.no-js-warning {
  background: $black;
  color: $white;
  display: none;
  font-size: 1em;
  font-weight: bold;
  height: 4.5rem;
  line-height: 4.5rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;

  .no-js & {
    display: block;
  }
}
