.gallery {
  background: $smoke;

  .loader {
    margin-bottom: $spacer*2;
  }
}

.gallery-images {
  @extend %clearfix;
  float: left;
  width: 100%;
}

.gallery-image-wrap {
  @extend %clearfix;
  padding-bottom: $spacer;
}

.gallery-image {
  @include transition(opacity 0.2s);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: block;
  height: auto;
  width: 100%;

  .hover & {
    &:hover {
      opacity: 0.85;
    }
  }
}

#gallery_fail {
  display: none;
}
