.banner {
  background: $white center center no-repeat;
  background-size: auto 400px;
  height: 400px;
  position: relative;
  width: 100%;
}

.no-webp .banner {
  background-image: url('home-banner-2800.jpg');

  @media only screen and (max-width: 2400px) {
    background-image: url('home-banner-2400.jpg');
  }

  @media only screen and (max-width: 2000px) {
    background-image: url('home-banner-2000.jpg');
  }

  @media only screen and (max-width: 1600px) {
    background-image: url('home-banner-1600.jpg');
  }

  @media only screen and (max-width: 1200px) {
    background-image: url('home-banner-1200.jpg');
  }

  @media only screen and (max-width: 800px) {
    background-image: url('home-banner-800.jpg');
  }

  @media only screen and (max-width: 400px) {
    background-image: url('home-banner-400.jpg');
  }
}

.webp .banner {
  background-image: url('home-banner-2800.webp');

  @media only screen and (max-width: 2400px) {
    background-image: url('home-banner-2400.webp');
  }

  @media only screen and (max-width: 2000px) {
    background-image: url('home-banner-2000.webp');
  }

  @media only screen and (max-width: 1600px) {
    background-image: url('home-banner-1600.webp');
  }

  @media only screen and (max-width: 1200px) {
    background-image: url('home-banner-1200.webp');
  }

  @media only screen and (max-width: 800px) {
    background-image: url('home-banner-800.webp');
  }

  @media only screen and (max-width: 400px) {
    background-image: url('home-banner-400.webp');
  }
}

.banner__heading {
  @include transform(translate(-50%,-50%));
  color: $white;
  font-size: 3.5rem;
  left: 50%;
  margin: 0;
  max-width: 100%;
  padding: 0 2rem;
  position: absolute;
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  top: 50%;
  width: $page-width;
}

.banner__subheading {
  color: $smoke;
  display: block;
  font-size: 1.5rem;
  margin-top: 0.618rem;
}

.clients {
  background: $smoke;
  padding: $spacer/2 0;
  width: 100%;
}

.clients__img {
  display: block;
  width: 100%;
}

.about {
  background: $white;
}

.process {
  background: $smoke;
}

.process-icon,
.why-icon {
  background: $blue url('process-icons.svg') 0 0 no-repeat;
  background-size: 624px 104px;
  border-radius: 50%;
  // box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  height: 104px;
  margin: $spacer auto;
  width: 104px;
}

#production {
  background-position: -104px 0;
}

#efficient {
  background-position: -208px 0;
}

#afford {
  background-position: -312px 0;
}

#accuracy {
  background-position: -416px 0;
}

#flexibility {
  background-position: -520px 0;
}

.why {
  background: $white;
}

.talk {
  background: $blue;
  color: $white;
  position: relative;
}

.talk-bg {
  display: block;
  background: $blue center center no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0 auto;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;

  .no-webp & {
    background-image: url('laser_bg.jpg');
  }

  .webp & {
    background-image: url('laser_bg.webp');
  }
}

.talk-box-container {
  position: relative;
}

.talk-box {
  @include transition(all 0.2s ease-in-out);
  font-size: 1.25rem;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  visibility: hidden;

  &.active-talk {
    opacity: 1;
    visibility: visible;
  }

  > span {
    font-size: 1rem;
  }
}

.talk-arrow {
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  left: 0.5rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.talk-arrow--right {
  @extend .talk-arrow;
  left: auto;
  right: 0.5rem;
}

.partners {
  background: $smoke;
  position: relative;

  .button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 48rem) {
  .clients {
    display: none;
  }

  .talk-arrow,
  .talk-arrow--right {
    display: none;
  }
}
