.banner {
  background: $white url('home-banner-2800.jpg') center center no-repeat;
  background-size: auto 400px;
  height: 400px;
  position: relative;
  width: 100%;

  @media only screen and (max-width: 2400px) {
    background-image: url('home-banner-2400.jpg');
  }

  @media only screen and (max-width: 2000px) {
    background-image: url('home-banner-2000.jpg');
  }

  @media only screen and (max-width: 1600px) {
    background-image: url('home-banner-1600.jpg');
  }

  @media only screen and (max-width: 1200px) {
    background-image: url('home-banner-1200.jpg');
  }

  @media only screen and (max-width: 800px) {
    background-image: url('home-banner-800.jpg');
  }

  @media only screen and (max-width: 400px) {
    background-image: url('home-banner-400.jpg');
  }
}

.banner__heading {
  @include transform(translate(-50%,-50%));
  color: $white;
  font-size: 3.5rem;
  left: 50%;
  margin: 0;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  width: $page-width;
}

.banner__subheading {
  color: $smoke;
  display: block;
  font-size: 1.5rem;
  margin-top: 0.618rem;
}

.clients {
  background: $smoke;
  padding: 20px 0;
  width: 100%;
}

.clients__img {
  display: block;
  width: 100%;
}

.about {
  background: $white;
}

.process {
  background: $smoke;
}

.process_icon,
.why_icon {
  background: $blue url('process-icons.svg') 0 0 no-repeat;
  background-size: 624px 104px;
  border-radius: 50%;
  height: 104px;
  margin: $spacer auto;
  width: 104px;
}

#production {
  background-position: -104px 0;
}

#efficient {
  background-position: -208px 0;
}

#afford {
  background-position: -312px 0;
}

#accuracy {
  background-position: -416px 0;
}

#flexibility {
  background-position: -520px 0;
}

.why {
  background: $white;
}

.talk {
  background: $blue;
  background-size: cover;
  color: $white;
  position: relative;
}

.talk_bg {
  display: none;
}

.opacity .talk_bg {
  display: block;
  background: url('laser_bg.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
}

.talk-box-container {
  position: relative;
}

.talk-box {
  @include transition(all 0.2s ease-in-out);
  font-size: 1.25rem;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  visibility: hidden;

  &.active-talk {
    opacity: 1;
    visibility: visible;
  }

  > span {
    font-size: 1rem;
  }
}

.partners {
  background: $smoke;
  position: relative;

  .button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
